body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("medias/pokebg.jpg");
    cursor: url('medias/hand2.svg'), auto;

}

.logo{
    padding-bottom: 2em;
}


.pokedex {
    
    max-width: 600px;
    margin: 0 auto;
    padding: 5em;
    border: 10px ridge rgb(250, 4, 4);
    border-radius: 20px;
    background-color: #2e2929df;

}


.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5em;
}

.pokemon {
    border: 5px ridge #ccc;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.pokemon:hover {
    border: 5px ridge rgb(109, 169, 252);
    transform: scale(1.2);
    background:url("medias/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
   text-shadow: rgb(109, 169, 252) 5px;
    font-family: "Din Alternate";
    
}

.pokemon-card {
    border: 5px ridge #ccc;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.pokemon-card:hover {
    border: 5px ridge rgb(109, 169, 252);
    transform: scale(1.2);
    background:url("medias/back.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
   text-shadow: rgb(109, 169, 252) 5px;
    font-family: "Din Alternate";
    
}

.pokemon_image{
    padding-top: 2rem;
}

.pokemon p::first-letter{
    text-transform: uppercase;
}

.pokemon img {
    max-width: 100px;
}

.pokemon-details {
    margin-top: 20px;
    display: none;
}

.pokemon-details h2:first-letter{
    text-transform: uppercase;
    
}

.pokemon-details img {
    max-width: 200px;
}

.pokemon-list h2:first-letter{
    text-transform: uppercase;
}

.scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5em;
    z-index: 99;
    font-size: 24px;
    border: none;
    padding: 1em;
    background-color: rgb(255, 0, 0);
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .scroll-to-top-button:hover {
    background-color: rgb(255, 127, 127);
    transform: scale(1.2);
  }
  